[submodule "Word-Guess-Game"]
	path = Word-Guess-Game
	url = https://github.com/hollywoodchase/Word-Guess-Game
[submodule "personal-webpage"]
	path = personal-webpage
	url = https://github.com/hollywoodchase/personal-webpage
[submodule "about-me"]
	path = about-me
	url = https://github.com/hollywoodchase/about-me
